<div class="container-fluid">
  <h2 mat-dialog-title class="modal-title mb-3">Create Task</h2>
  <mat-card class="card mt-3">
    <mat-dialog-content class="mat-typography">
      <form #form="ngForm" novalidate (ngSubmit)="createTask(form)">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around stretch"
          fxLayoutGap="2%"
        >
          <div
            fxLayout="{{ isMobile() ? 'column' : 'row' }}"
            fxLayoutAlign="space-between center"
          >
            <mat-form-field appearance="fill">
              <mat-label>Issue Type</mat-label>
              <mat-select [(ngModel)]="todoIssueTypes[0]" name="issueType">
                <mat-option *ngFor="let item of todoIssueTypes" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="todoStatuses[0]" name="status">
                <mat-option *ngFor="let item of todoStatuses" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="full-width-input">
            <mat-label>Summary</mat-label>
            <input
              required
              matInput
              ngModel
              minlength="2"
              maxlength="255"
              name="summary"
              #summary="ngModel"
              type="text"
            />
            <mat-hint>type a task summary</mat-hint>
            <ng-container *ngIf="summary.touched && !summary.valid">
              <mat-error *ngIf="summary.errors.required">
                Task summary is required
              </mat-error>
              <mat-error *ngIf="summary.errors.minlength">
                Task summary should be minimum
                {{ summary.errors.minlength.requiredLength }} characters
              </mat-error>
              <mat-error *ngIf="summary.errors.maxlength">
                Task summary should be maximum
                {{ summary.errors.maxlength.requiredLength }} characters
              </mat-error>
            </ng-container>
          </mat-form-field>

          <mat-label>Description</mat-label>
          <ng-container *ngIf="description.touched && !description.valid">
            <mat-error *ngIf="description.errors.required">
              Task description is required
            </mat-error>
            <mat-error *ngIf="description.errors.minlength">
              Task description should be minimum
              {{ description.errors.minlength.requiredLength }} characters
            </mat-error>
            <mat-error *ngIf="description.errors.maxlength">
              Task description should be maximum
              {{ description.errors.maxlength.requiredLength }} characters
            </mat-error>
          </ng-container>
          <quill-editor
            required
            [styles]="{ height: '250px' }"
            minlength="2"
            maxlength="10000"
            [modules]="modules"
            ngModel
            #description="ngModel"
            name="description"
          ></quill-editor>

          <div
            fxLayout="{{ isMobile() ? 'column' : 'row' }}"
            fxLayoutAlign="space-between center"
          >
            <mat-form-field appearance="fill">
              <mat-label>Severity</mat-label>
              <mat-select [(ngModel)]="todoSeverities[0]" name="severity">
                <mat-option *ngFor="let item of todoSeverities" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Priority</mat-label>
              <mat-select [(ngModel)]="todoPriorities[0]" name="priority">
                <mat-option *ngFor="let item of todoPriorities" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="mt-4 mx-3"
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
          >
            <button
              mat-raised-button
              color="accent"
              [mat-dialog-close]="1"
              (click)="closeModal()"
              class="mx-1"
            >
              Close {{ !isMobile() ? "Modal" : "" }}
            </button>
            <button mat-raised-button color="primary" [disabled]="!form.valid">
              Create {{ !isMobile() ? "Task" : "" }}
              <mat-icon *ngIf="isLoading"
                ><mat-spinner mode="indeterminate" diameter="21"> </mat-spinner
              ></mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </mat-card>
</div>
