.active-list-item {
  color: #0097a7 !important;
}

.icon-avatar {
  font-size: 40px;
  line-height: unset;
  margin-right: 17px;
  margin-bottom: 3px;
}

mat-form-field {
  width: 50%;
  font-size: 12px;
}

.search-icon {
  font-size: 20px !important;
}
